!!!
%html
  %head
    %title DansTheMan
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        =link_to "DansTheMan", "#", {class: "brand"}
        %ul{class: "nav"}
          %li.active
            =link_to "Guests", "#"
          %li
            =link_to "Invitations", "#"
          %li
            =link_to "Cool Stuff I don't know about", "#"
          %li
            =link_to "Logout", "users/sign_out", method: :get
    %container
      .notice=notice
      .alert=alert
      = yield
